.mobile-toolbar {
  display: flex;
  flex-direction: column;

  .up-panel {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 0 15px;
    overflow: auto;

    .categories-filter:nth-child(2) {
      width: 117px;
    }
  }

  .bottom-panel {
    display: flex;
    justify-content: space-between;
    padding: 12.5px 15px;

    .divider {
      width: 1px;
      height: 20px;
      background: rgba(255, 255, 255, 0.1);
    }

    .dropdown-filter {
      position: relative;
    }
  }
}