.avatar-name {
  display: flex;

  .avatar {
    height: 30px;
    width: 30px;
    align-items: center;
    user-select: none;

    img {
      width: 30px;
    }
  }

  .name {
    margin: 5px 0 0 10px;
    width: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
}
