.exchange-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  margin: auto 0;

  .icon {
    width: 16px;
    height: 20px;
  }

  span {
    margin: 0 0 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #a4a2a8;
    user-select: none;
    transition: 0.2s;

    &:hover {
      color: #FFFFFF;
    }
  }

  &.enabled {

    span {
      color: #FFFFFF;
    }
  }
}
