.mobile-filter {
  display: none;

  @media screen and (max-width: 1269px) {
    display: flex;
    align-items: center;

    .icon {
      width: 16px;
      margin-right: 10px;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #A4A2A8;
    }
  }
}