.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  display: none;
  width: fit-content;
  white-space: nowrap;
  background: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #0b0a11;
  border-radius: 100px;
  padding: 10px 15px;
  margin-top: 18px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.2s;
  animation: appear 0.2s ease-in-out;

  .triangle-icon {
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%) rotate(-60deg) skewX(-30deg) scale(1, 0.866);
    width:  13px;
    height: 13px;
    border-top-right-radius: 20%;
    background: #FFFFFF;
  }

  &.visible {
    display: flex;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
